{
	email {$CADDY_EMAIL}
}

quizzy.attentionisallineed.xyz {
	reverse_proxy {$QUIZZY_UPSTREAM}
}

attentionisallineed.xyz {
	redir https://cv.attentionisallineed.xyz{uri}
}

www.attentionisallineed.xyz {
	redir https://cv.attentionisallineed.xyz{uri}
}

cv.attentionisallineed.xyz {
	encode zstd gzip
	reverse_proxy cv-web:80
}

telecart.attentionisallineed.xyz {
	encode zstd gzip

	handle /api/* {
		reverse_proxy telecart-backend:8000
	}

	handle /ops/* {
		reverse_proxy telecart-backend:8000
	}

	handle /telegram/* {
		reverse_proxy telecart-backend:8000
	}

	handle {
		reverse_proxy telecart-frontend:80
	}
}

mc.attentionisallineed.xyz {
	handle /resourcepacks/* {
		root * /srv
		file_server
	}

	respond "Northstar Minecraft server. Connect in Minecraft Java: mc.attentionisallineed.xyz" 200
}

northstar.attentionisallineed.xyz {
	basic_auth {
		{$ADMIN_USERNAME} {$ADMIN_PASSWORD_HASH}
	}

	encode zstd gzip

	handle /files/* {
		reverse_proxy filebrowser:80 {
			header_up -Authorization
		}
	}

	redir /files /files/

	handle_path /status/* {
		reverse_proxy status:8080
	}

	handle {
		root * /srv/northstar-admin
		file_server
	}
}
